.spriteContainer2{
 background: url(https://teiresa.github.io/digiDaruma/assets/deco/themes/sprites/daruma_Sprites0_zoomedin.png) left top no-repeat ;
 display: inline-block;
 background-size: 1706px;}



 /*
Decided to just zoom in and out in the browser because I don't want the scroll bar and will fix the menu to just fit everything. Also, have it close the other drop-downs when the next one is opened.

 #toggleMenu {
  overflow-y: scroll !important;
 }
*/


 .bordersON {
  border: 2px #FFF;
 }
 
 .bordersOFF {
  border: 2px #00000000;
 }
 
 
 
 // these leave the template space blank. If so, each would need them. 0 == null ?
 
 .spritePos0 {
  width: 185px;
  height: 55px;
  display:inline-block;
  background-position: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #00000000;
 }
 
 .earStyle0 {
  width: 70px;
  height: 70px;
  display:inline-block;
  background-position: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #00000000;
  background-size: 1200%;/* so none of sprite is visible */
 }
 
 .bindiStyle0 {
  display:inline-block;
  background-position: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #00000000;
  background-size: 1200%;/* so none of sprite is visible */
 }
 
 .browStyle0 {
  display:inline-block;
  background-position: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #00000000;
  background-size: 1200%;/* so none of sprite is visible */
 }
 
 .chestCorrect {
  /* Make sure JS adds this class after any torso classes so it puts the chest back in the center of the torso. */
  display: flex;
 }
 
 
 
 


/* Sprite pos0 s00pos00 (Rough designs sheet, top left) */
/*
Unused : .browShibaL .browShibaR 
 .pos00skin ?????????????
 .pos00earL, .pos00earR
 .pos00browL .pos00browR .pos00bindi
 .pos00eyeL .pos00eyeR
 .pos00cheekL .pos00cheekR
 .pos00nose .pos00mouth
 .pos00chest

 00 -> 01 02 03 ...
 */


/* Passed ! sheet is working 
 .pos00chest, .chestGreen {
  background-color: greenyellow !important;
 }
*/

.torPatt {
 width: 100%;
 height: 100%;
 z-index: 1;
 background-size: 75%;
 border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.middleground{
 z-index: 2;
}

.torPatt00,  .torPatt01, .torPatt02, .torPatt03, .torPatt04, .torPatt05, .torPatt06, .torPatt07, .torPatt08 {
 background-color: pink ;
 border-color: #ffff00;
 background-image: url('https://teiresa.github.io/digiDaruma/assets/muyu/assets/confetti0.png');
}

.torPatt01 {
 background-color: aqua;
}

.torPatt02 {
 background-color: aquamarine;
}

.torPatt03{
 background-color: bisque;
}

.torPatt04{
 background-color: #ffff00;
}

.torPatt05 {
 background-color: black;
}

.torPatt06 {
 background-color: blueviolet;
}

.torPatt07 {
 background-color: darkmagenta;
}







.pos00earL,  .pos01earL, .pos02earL, .pos03earL, .pos04earL, .pos05earL, .pos06earL, .pos07earL, .pos08earL {
 background-color: pink ;
 border-color: #ffff00;
  /* FIXED -- All good, but make it not requite !important statement */
   /* removed width and height so they would just fill the given areawidth: 80px;*/
   /* bg too big for frame FIX LATER
   display:inline-block;
   background-position: -100px -260px;
  */
}
.pos00earR,  .pos01earR, .pos02earR, .pos03earR, .pos04earR, .pos05earR, .pos06earR, .pos07earR, .pos08earR {
 background-color: yellow ;
 border-color: pink;
}

//for RIGHT ears, I should just mirror the LEFT ear first then go back and do them

/*
Doraemon doesn't have ears, so these can be used for something else.
.pos00earL{background-position: -886px -342px;}
.pos00earR{background-position: -886px -342px; transform: scaleX(-1);}*/
.pos01earL{background-position: -41px -545px;}
.pos01earR{background-position: -41px -545px; transform: scaleX(-1);}
.pos02earL{background-position: -406px -125px;}
.pos02earR{background-position: -406px -125px; transform: scaleX(-1);}
.pos03earL{background-position: -406px -546px;}
.pos03earR{background-position: -406px -546px; transform: scaleX(-1);}
//04 was drawn too big
.pos04earL{background-position: -784px -134px;}
.pos04earR{background-position: -784px -134px; transform: scaleX(-1);}
.pos05earL{background-position: -784px -541px;}
.pos05earR{background-position: -784px -541px; transform: scaleX(-1);}
.pos06earL{background-position: -1159px -138px;}
.pos06earR{background-position: -1159px -138px; transform: scaleX(-1);}
//I should probably make the ear space larger.
.pos07earL{background-position: -1154px -554px;}
.pos07earR{background-position: -1154px -554px; transform: scaleX(-1);}
/*
Not used, but I wrote the code for it in html and js
.pos08earL{background-position: -886px -342px;}
.pos08earR{background-position: -886px -342px; transform: scaleX(-1);}
*/



.pos00eyeR,  .pos01eyeR, .pos02eyeR, .pos03eyeR, .pos04eyeR, .pos05eyeR, .pos06eyeR, .pos07eyeR, .pos08eyeR {
 border-color: #ffff00 ;
 background-size: 1421px;
 //was 1706px
//make eyes show sprite
}


.pos00eyeL,  .pos01eyeL, .pos02eyeL, .pos03eyeL, .pos04eyeL, .pos05eyeL, .pos06eyeL, .pos07eyeL, .pos08eyeL {
 border-color: pink ;
 
 background-size: 1421px;
 //was 1706px 1137
  /* FIXED -- All good, but make it not requite !important statement */
   /* removed width and height so they would just fill the given areawidth: 80px;*/
   /* bg too big for frame FIX LATER
   display:inline-block;
   background-position: -100px -260px;
  */
}

.pos00browR,  .pos01browR, .pos02browR, .pos03browR, .pos04browR, .pos05browR, .pos06browR, .pos07browR, .pos08browR {
 border-color: #ffff00 ;
 background-size: 1421px;
 //was 1706px
//make brows show sprite
}


.pos00browL,  .pos01browL, .pos02browL, .pos03browL, .pos04browL, .pos05browL, .pos06browL, .pos07browL, .pos08browL{background-size: 1421px;}

.pos00eyeL{background-position: -85px -209px;} /* was browL, so I made it eye. Pretty sure it was accidental*/
.pos00eyeR{background-position: -85px -209px; transform: scaleX(-1)/*Leaving center for now*/;}
.pos01eyeL{background-size: 1706px;background-position: -110px -666px;}
.pos01eyeR{background-size: 1706px;background-position: -110px -666px; transform: scaleX(-1);}
.pos02eyeL{background-position: -388px -213px;}
.pos02eyeR{background-position: -388px -213px; transform: scaleX(-1);}
.pos03eyeL{background-position: -386px -554px;}
.pos03eyeR{background-position: -386px -554px; transform: scaleX(-1);}
.pos04eyeL{
 background-position: -701px -210px;}
.pos04eyeR{background-position: -701px -210px; transform: scaleX(-1);}
.pos05eyeL{background-position: -701px -554px;}
.pos05eyeR{background-position: -701px -554px; transform: scaleX(-1);}
.pos06eyeL{background-position: -1010px -210px;}
.pos06eyeR{background-position: -1010px -216px; transform: scaleX(-1);}
.pos07eyeL{background-position: -1010px -210px;}
.pos07eyeR{background-position: -1010px -210px; transform: scaleX(-1);}
.pos08eyeL{background-position: -1020px -554px;}
.pos08eyeR{background-position: -1020px -554px; transform: scaleX(-1);}

.pos00browL{background-position: -1020px -554px;}
.pos00browR{background-position: -1020px -554px; transform: scaleX(-1);}
.pos01browL{background-position: -1020px -554px;}
.pos01browR{background-position: -1020px -554px; transform: scaleX(-1);}
.pos02browL{
 /*background-size: 1421px;*/
 background-position: -379px -186px;}
.pos02browR{background-position: -379px -186px; transform: scaleX(-1);}
.pos03browL{background-position: -1020px -554px;}
.pos03browR{background-position: -1020px -554px; transform: scaleX(-1);}
.pos04browL{background-position: -1020px -554px;}
.pos04browR{background-position: -1020px -554px; transform: scaleX(-1);}
.pos05browL{background-position: -1020px -554px;}
.pos05browR{background-position: -1020px -554px; transform: scaleX(-1);}
.pos06browL{background-position: -1020px -554px;}
.pos06browR{background-position: -1020px -554px; transform: scaleX(-1);}
.pos07browL{background-position: -1020px -554px;}
.pos07browR{background-position: -1020px -554px; transform: scaleX(-1);}
.pos08browL{background-position: -1020px -554px;}
.pos08browR{background-position: -1020px -554px; transform: scaleX(-1);}

.pos00browL{background-position: -691px -170px;}
.pos00browR{background-position: -691px -170px;; transform: scaleX(-1);}

.pos01browL{
 background-size: 2274px;
 background-position: -130px -852px;}
.pos01browR{background-size: 2274px;background-position: -130px -852px; transform: scaleX(-1);}
.pos02browL{
 background-size: 1706px;
 background-position: -379px -186px;}
.pos02browR{
 background-size: 1706px;
 background-position: -388px -213px; transform: scaleX(-1);}
.pos03browL{background-position: -375px -522px;}
.pos03browR{background-position: -386px -554px; transform: scaleX(-1);}
.pos04browL{
 background-position: -691px -180px;}
.pos04browR{background-position: -691px -180px; transform: scaleX(-1);}
.pos05browL{background-position: -686px -523px;}
.pos05browR{background-position: -686px -523px; transform: scaleX(-1);}
.pos06browL{
 background-size: 1421px;
 background-position: -1000px -179px;}
.pos06browR{     background-size: 1421px;
 background-position: -1000px -179px; transform: scaleX(-1);}
.pos07browL{background-size: 1137px;
 background-position: -790px -140px;}
.pos07browR{background-size: 1137px;
 background-position: -790px -140px; transform: scaleX(-1);}
.pos08browL{background-position: -1000px -523px;}
.pos08browR{background-position: -1000px -523px; transform: scaleX(-1);}






.pos00chest {
 /*
 width: 48px;
  height: 46px;  
  
  background-size: 190vw;
  background-position: -78px -181px;
  */
  
  background-position: -141px -338px;

  /* I need to stop the page from growing or shrinking. The dang background images (the sprites) move with the screen size. Probably because I used 190vw instead of something non-flexy. */
  
  
}

.pos01chest{background-position: -509px -338px;}
.pos02chest{background-position: -886px -342px;}
.pos03chest{background-position: -1256px -350px;}
/*
Free to use later
.pos04chest{background-position: - -;}
*/
.pos05chest{background-position: -510px -757px;}
.pos06chest{background-position: -887px -747px;}
/*
Free to use later
.pos07chest and .pos08chest
*/


/* 00 to 12 for the sheet's current 8 designs. This way I can reuse the template on my phone for new ones. and just only update which spriteContainer class and add new buttons */

.pos00earL, .pos00earR {
 background-color: pink;
}

.pos00browL, .pos00browR {
 background-color: pink;
}

.pos00bindi {
 background-color: pink;
}

.pos00eyeL, .pos00eyeR {
 background-color:rgba(255, 192, 203, 0.554);
 border-color: pink;
}

.pos00cheekL, .pos00cheekR {
 background-color: pink;
}

.pos00nose , .pos00mouth {
 background-color: pink;
}

/* Look into whether using something like calc() would help. I believe I spaced them well. Maybe it would be worth while to confirm this then write a quick alogithm in js. Otherwise, just do it the traditional paint method. */

.pos00bindi, .pos01bindi, .pos02bindi, .pos03bindi, .pos04bindi, .pos05bindi, .pos06bindi, .pos07bindi, .pos08bindi{
 background-color: greenyellow;
 background-position: -886px -342px;
 border: 2px solid red;
}

.pos00nose, .pos01nose, .pos02nose, .pos03nose, .pos04nose, .pos05nose, .pos06nose, .pos07nose, .pos08nose{
 background-color: greenyellow;
 background-position: -886px -342px;
 border: 2px solid blue;
}

.pos00mouth, .pos01mouth, .pos02mouth, .pos03mouth, .pos04mouth, .pos05mouth, .pos06mouth, .pos07mouth, .pos08mouth{
 background-color: greenyellow;
 background-position: -886px -342px;
 border: 2px solid red;
}


.pos00cheekL{background-position: -886px -342px;}
.pos00cheekR{background-position: -886px -342px; transform: scaleX(-1);}
.pos01cheekL{background-position: -41px -545px;}
.pos01cheekR{background-position: -41px -545px; transform: scaleX(-1);}
.pos02cheekL{background-position: -406px -125px;}
.pos02cheekR{background-position: -406px -125px; transform: scaleX(-1);}
.pos03cheekL{background-position: -406px -546px;}
.pos03cheekR{background-position: -406px -546px; transform: scaleX(-1);}
//04 was drawn too big
.pos04cheekL{background-position: -784px -134px;}
.pos04cheekR{background-position: -784px -134px; transform: scaleX(-1);}
.pos05cheekL{background-position: -784px -541px;}
.pos05cheekR{background-position: -784px -541px; transform: scaleX(-1);}
.pos06cheekL{background-position: -1159px -138px;}
.pos06cheekR{background-position: -1159px -138px; transform: scaleX(-1);}
//I should probably make the cheek space larger.
.pos07cheekL{background-position: -1154px -554px;}
.pos07cheekR{background-position: -1154px -554px; transform: scaleX(-1);}
/*
Not used, but I wrote the code for it in html and js
.pos08cheekL{background-position: -886px -342px;}
.pos08cheekR{background-position: -886px -342px; transform: scaleX(-1);}
*/




















































.eyeRightHidden {
 opacity: 0;
}

.eyeRightUnhidden {
 opacity: 1;
}

.eye-button-right {
 margin-left:-7px;
 background-color: plum;

 &:active {
  background-color: plum;
 }

 &:focus {
  background-color: lightseagreen;
  border-color: plum;
  border-style: inset;
 }
}

.eye-button-left {
 margin-left:-7px;
 background-color: plum;

 &:active {
  background-color: plum;
 }

 &:focus {
  background-color: lightseagreen;
  border-color: plum;
  border-style: inset;
 }
}






























.cheekShibaL .pos00cheekL {
 /* removed width and height so they would just fill the given areabackground-position: -437px -99px;*/
 display:inline-block;
 background-position: -427px -218px;
}
.cheekShibaR {
 /* removed width and height so they would just fill the given area*/
 display:inline-block;
 background-position: -427px -218px;
 -webkit-transform: scaleX(-1);
 transform: scaleX(-1);
}

.earShibaL {
 width: 105px;
 height: 105px;
 display:inline-block;
 background-position: -889px -299px;
}

/* Was trying to get rid of the areas that are cut off, but they've grown on me. I like the ears huge like this.*/
.earShibaR {
 width: 105px;
 height: 105px;
 display:inline-block;
 background-position: -889px -299px;
 -webkit-transform: scaleX(-1);
 transform: scaleX(-1);
}

/* Shiba dones not have a bindi bindiShiba */

.noseShiba {
 /* removed width and height so they would just fill the given area*/
 display:inline-block;
 background-position: -598px -209px;
}

.mouthShiba {
 /* removed width and height so they would just fill the given area*/
 /* bg too big for frame FIX LATER*/
 display:inline-block;
 background-position: -648px -162px;
 
}

.chests {
 /* removed width and height so they would just fill the given areawidth: 80px;*/
 /* bg too big for frame FIX LATER*/
 display:inline-block;
 background-position: -642px -187px;
}