/* Make borders togglable so that the user can see the outlines 

.showTemplate and .hideTemplate
*/

.showTemplate {
 border-color: #ffbd00; 
 /* neon orange until I make up my mind */
}



* {
 box-sizing: border-box;
}

button {
 font-family: 'Gaegu', cursive;
}


button {
 /*position: absolute;
 top: 50%; left: 50%;
 transform: translate(-50%,-50%);*/
 border: 0;
 line-height: 2;
 padding: 0 20px;
 margin: 2px;
 font-size: 0.5rem;
 text-align: center;
 color: #eee;
 text-shadow: 1px 1px 1px #003152;
 border-radius: 10px;
 background-color: rgb(245, 124, 245); background-image: linear-gradient(to top left,
               rgba(0, 0, 0, .2),
               rgba(0, 0, 0, .2) 30%,
               rgba(0, 0, 0, 0));
 box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
             inset -2px -2px 3px rgba(0, 0, 0, .6);
 font-size: medium;
}

button:hover {
 background-color: lightblue;
}

button:active {
 box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
             inset 2px 2px 3px rgba(0, 0, 0, .6);
}




body {
 height: 100vh;
 margin: auto;
 overflow: hidden;
 width: 100vw;
 background-image: url(../assets/muyu/assets/confetti0.png);
 background-size: 300px;
 font-family: 'Gaegu', cursive;
 

 /* So the user cannot highlight or copy anything (excluding DEV stuff section (see very bottom for class .dev_only)) */
 user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

h1 {
 color: white;
 text-shadow: 3px 3px 8px cyan, -3px -3px 9px magenta;
 font-size: 4rem; /* was 3rem*/
 font-family: cursive, sans-serif;
 text-align: center;
}


.section-butts {
 flex-wrap: nowrap;
}

.subsections {
 display: grid; 
 grid-template-columns: 50% 50%;
}

.subsect {
 grid: 50%;
}






.menu-button {
 background-color: green;
}


.menu-button {
 /*position: absolute;
 top: 50%; left: 50%;
 transform: translate(-50%,-50%);*/
 border: 0;
 line-height: 2;
 padding: 0 20px;
 font-size: 0.5rem;
 text-align: center;
 color: #eee;
 text-shadow: 1px 1px 1px #003152;
 border-radius: 10px;
 background-color: rgb(245, 124, 245); background-image: linear-gradient(to top left,
               rgba(0, 0, 0, .2),
               rgba(0, 0, 0, .2) 30%,
               rgba(0, 0, 0, 0));
 box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
             inset -2px -2px 3px rgba(0, 0, 0, .6);
 font-size: medium;
}

.menu-button:hover {
 background-color: lightblue;
}

.menu-button:active {
 box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
             inset 2px 2px 3px rgba(0, 0, 0, .6);
}



.frame {
 display: flex;
 background-color: rgba(173, 216, 230, 0.889);
 border-radius: 1%;
 align-items: center;
 justify-content: center;
 height: 65vh;
 width: 30vw;
 min-width: 500px;
 margin: auto;

 /* might need this float: left; if the frame starts acting up */
}

.animation-frame {
 display: flex;
 /*background-color: lightseagreen;*/
 align-items: center;
 justify-content: center;
 height: 45vh;
 width: 50vw;
 min-width: 290px;
 max-width: 300px;
 /* See animations below*/
 animation: rolypoly3 2700ms linear 1;
 /* the 1 represents 1 iteration, which is default but I like being able to see it. */

}


.roly-poly {
 margin: auto;
 width: 200px;
 height: 230px;  /* or 200px */
 border-radius: 50%;
 /* the border-radii make it the typical short egg shape  */
 -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
 border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;


 /*
 background: rgb(238,174,202);
 background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 28%);
 */
}

.background, .middleground, .foreground {
/*border: 2px solid black; */
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
position: absolute;

}

.background /* aka its skin colour */{
 /*background-color: lightseagreen;*/
 border: 2px solid lightsalmon;  
}

.middleground {
 height: 260px;
 border: 2px solid pik;
 margin-bottom: 34px;
}

.ears, .face, .chest {
 width: 220px;
 height: 80px;
 /*
 border: 2px solid green;   make toggable
 */
 
}

.ears {
 width: 260px;
 height: 100px;
 display: flex;
 justify-content: space-between;
}

.ear-left {
 border: 2px solid steelblue;
 width: 80px;

}

.ear-right {
 border: 2px solid steelblue;
 width: 80px;
}

.face {
 height: 120px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.facial-outline {
 background-color: aliceblue;
 width: 160px;
 height: 100%;
 border: 2px solid lightsalmon;
 
 border-radius: 35px 35px 20px 20px; 
 /* improve on the shape later */

 /*
 border-style: solid;
 position: relative;
 width: 94px;
 box-sizing: content-box;
 border-width: 50px 18px 0;
 border-color: whitesmoke transparent;
 border-radius: 10%;
 transform: rotate(180deg);
 */
 
}

.brows {
 width: 100%;
 height: 23%;
 border: 1px solid blck;
 display: flex;
 margin-top: -12px;
}

.brow-left, .brow-right {
 width: 75px;
 border: 2px solid greenyellow;
 height: 40px;
}

.brow-centre {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: -10px;
 width: 25px;
 height: 40px;
 
 border: 2px solid plum;
}


.eye-outline {
 width: 100%;
 height: 53%;
 margin-top: 5px;

 display: flex;
 flex-direction: row;
 justify-content: space-around;

}

/* Eye outline shape variations */
.ey-round {
 /* Approved. Do not edit. */
 width: 33%;
 height: auto;
 border: 3px solid gold;
 border-radius: 50%;
}

.ey-square {
 /* Approved. Do not edit. */
 width: 33%;
 height: auto;
 border: 3px solid gold;
 border-radius:30%;
}

.ey-elong {
 width: 33%;
 height: auto;
 border: 3px solid gold;
 border-radius:30%;
}



.eye-left, .eye-right {
 display: flex;
 justify-content: center;
 align-items: center;
}


.pupil {
 /*are the eyes too small?
 were 30px each*/
 width: 45px;
 height: 45px;
 background-color: black;
 border-radius: 50%;
 /* make outline slightly lighter version of the selected colour*/
}

.facial-hair-left, .facial-hair-right {
 width: 59px;
 border: 2px solid greenyellow;
 height: 30px;
}

.breathers {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: -20px;
}

.snout {
 width: 100%;
 height: 29%;
 border: 1px solid rd;
 display: flex;
 justify-content: center;
 align-items: center;
}

.nose {
 width: 20px;
 background-color: black;
 height: 20px;
 border-radius: 50%;
}

.mouth {
 width: 40px;
 background-color: grey;
 height: 15px;
}

.torso {
 border: 2px solid pink;
 width: 185px;
 height: 55px;
 border-radius: 30%;

 display: flex;
 justify-content: center;
 align-items: center;
}

.chest {
 border: 2px solid plum; /* make slightly lighter version of the selected colour*/
 width: 55px;
 height: 55px;
 border-radius: 50%;
 /* position: absolute; 
 the inline-block for the sprites doesn't allow this, so it is now in a class called .chestCorrect */
}

/* This just controls whether the customisation menu is visible/hidden. Later decide on whether it should default as open or hidden. */

#toggleMenu { /*Changing traits menu */
 background-color: rgb(89, 89, 89);
 background-image: url(../assets/muyu/assets/confetti0.png);
 background-size: 500px;

    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
 background-blend-mode: soft-light;
 overflow-y: hidden;
 margin-top: 2vh;
 padding: 2vw 1vw 1vw 2vw;
 width: 60vw; /* was 20 */
 min-height: 70vh;
 float: left;


}

#body-radios {
 /* The eggs need to be horizontal for half-screen and smaller
 Maybe I should make them shrink based on screen size to fit 3 in a row. 

 Also, for mobile I want the daruma area on the top 1/2 or 1/3 of the screen, then the menu (while still toggable, but via hamburger menu) to open on the bottom half or two-thirds of the screen.
 */
 display: flex;
 flex-wrap: wrap;
 justify-content: center /*flex-start or space-evenly ?? */;
 /*max-width: 18vw;
 min-width: 17vw;
*/

background-color: rgba(89, 89, 89, 0.613);
 width: 267.81;
 height: 102.26;
}

#body-radios input[type="radio"] {
  /* getting rid of the selected circle default to radio buttons
  hiding the input element */
  appearance: none;  /* supported by Chrome and Opera */
    -webkit-appearance: none;  /* Safari */
    -khtml-appearance: none;  /* Konqueror HTML */
    -moz-appearance: none;  /* Firefox */
    -ms-appearance: none;  /* Internet Explorer/Edge */
}



#body-radios i {
 position: sticky;
 display: block;
  padding: 13px 13px;
  top: -5px;
  border: 1px solid rgba(0, 128, 0, 0.76);
}





/* Works, but i want a cleaner method using js
.colorOptions:hover ~ .hide {
 display: block;
 color:pink;
}

.hide {
 display: none;
 height: 1em;
}
*/
.colorMeans {
    user-select: text;  /* supported by Chrome and Opera */
    -webkit-user-select: text;  /* Safari */
    -khtml-user-select: text;  /* Konqueror HTML */
    -moz-user-select: text;  /* Firefox */
    -ms-user-select: text;  /* Internet Explorer/Edge */

  display: flex;
  justify-content: center;
 
}


.dev_only {
 background-color: rgb(234, 210, 91);

 user-select: text;  /* supported by Chrome and Opera */
   -webkit-user-select: text;  /* Safari */
   -khtml-user-select: text;  /* Konqueror HTML */
   -moz-user-select: text;  /* Firefox */
   -ms-user-select: text;  /* Internet Explorer/Edge */
}


/*
This all below is for the switch
*/

.switch {
 position: relative;
 display: inline-block;
 width: 40px;  /* was 60px */
 height: 22px; /* was 34 */
}

.switch input { 
 opacity: 0;
 width: 0;
 height: 0;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgb(238, 183, 238);
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 /* were 26, 26 4 4 */
 height: 17px;
 width: 17px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color:rgb(238, 183, 238);
}

input:focus + .slider {
 box-shadow: 0 0 1px plum;
}

/*  Toggle Switch  */

.toggleSwitch span span {
	display: none;
}  
  
.toggleSwitch {
	display: inline-block;
	height: 18px;
	position: relative;
	overflow: visible;
	padding: 0;
	cursor: pointer;
	width: 120px;
 max-width: 90vw;
	background-color: rgba(221, 160, 221, 0.888);
	border: 1px solid rgb(198, 138, 198);
	border-radius:5px;
	height:24px;
}
.toggleSwitch * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.toggleSwitch label,
.toggleSwitch > span {
	line-height: 20px;
	height: 20px;
	vertical-align: middle;
}
.toggleSwitch input:focus ~ a,
.toggleSwitch input:focus + label {
	outline: none;
}
.toggleSwitch label {
	position: relative;
	z-index: 3;
	display: block;
	width: 100%;
}
.toggleSwitch input {
	position: absolute;
	opacity: 0;
	z-index: 5;
}
.toggleSwitch > span {
	position: absolute;
	left: 0;
	width: calc(100% - 6px);
	margin: 0;
	text-align: left;
	white-space: nowrap;
  margin:0 3px;
}
.toggleSwitch > span span {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: block;
	width: 50%;
	margin-left: 50px;
	text-align: left;
	font-size: 0.9em;
	width: auto;
	left: 0;
	top: -1px;
	opacity: 1;
	width:40%;
	text-align: center;
  line-height:34px;
}
.toggleSwitch a {
	position: absolute;
	right: 50%;
	z-index: 4;
	display: block;
	top: 3px;
	bottom: 3px;
	padding: 0;
	left: 3px;
	width: 50%;
	background-color: #666;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* toggle left */
.toggleSwitch > span span:first-of-type {
 font-size: x-large;
 font-weight: bolder;
 left: 40px !important;
 /* You filthy cheater */
 top: -6px;
	color: lightseagreen;
	opacity: 1;
	left: 0;
	margin: 0;
    width: 50%;
}
.toggleSwitch > span span:last-of-type {
	left:auto;
	right:0;
	color: rgba(198, 138, 198, 0);
	margin: 0;
    width: 50%;
}
.toggleSwitch > span:before {
	content: '';
	display: block;
 /*
	width: 100%;*/
	height: 100%;
	position: absolute;
	left: 0;
	top: -2px;
	/* background-color: #fafafa;
	border: 1px solid #ccc; */
	border-radius: 30px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.toggleSwitch input:checked ~ a {
	left: calc(50% - 3px);
}/*
.toggleSwitch input:checked ~ span:before {
	 border-color: #0097D1;
	box-shadow: inset 0 0 0 30px #0097D1; 
}*/
.toggleSwitch input:checked ~ span span:first-of-type {
	left:0;
	color:#cccccc00;
}


.toggleSwitch input:checked ~ span span:last-of-type {
	/* opacity: 1;
	color: #fff;	 */
 font-size: x-large;
 font-weight: bolder;
 right: 43px;
 top: -6px;
	color:lightseagreen;
}
/* Switch Sizes */
.toggleSwitch.large {
	width: 60px;
	height: 27px;
}
.toggleSwitch.large a {
	width: 27px;
}
.toggleSwitch.large > span {
	height: 29px;
	line-height: 28px;
}
.toggleSwitch.large input:checked ~ a {
	left: 41px;
}
.toggleSwitch.large > span span {
	font-size: 1.1em;
}
.toggleSwitch.large > span span:first-of-type {
	left: 50%;
}
.toggleSwitch.xlarge {
	width: 80px;
	height: 36px;
}
.toggleSwitch.xlarge a {
	width: 36px;
}
.toggleSwitch.xlarge > span {
	height: 38px;
	line-height: 37px;
}
.toggleSwitch.xlarge input:checked ~ a {
	left: 52px;
}
.toggleSwitch.xlarge > span span {
	font-size: 1.4em;
}
.toggleSwitch.xlarge > span span:first-of-type {
	left: 50%;
}

  /*  End Toggle Switch  */

input:checked + .slider:before {
 /* Were 26px then 17px */
 -webkit-transform: translateX(90px);
 -ms-transform: translateX(90px);
 transform: translateX(90px);
}

/* Rounded sliders, was 34px */
.slider.round {
 border-radius: 22px;
}

.slider.round:before {
 border-radius: 50%;
}