$colorRose: #edb0b7;
$colorRed: #f4555f;
$colorPeach: #FFCBA4;
$colorOrange: #fca54d;
$colorGold: goldenrod;
$colorGreen: #8cc063;
$colorBlue: #0183cd;
$colorPurple: #9383c4;
$colorWhite: #dbdbdb;
$colorBlack: #45443d;  /* or 32312d */

